:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(248, 250, 251);
}

header {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(254, 254, 254, 0.8);
  border-bottom: solid 1px rgb(203, 205, 205);
  width: 100%;
}

header img {
  height: 7%;
  width: 7%;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 0;
  margin-right: 0;
}

header nav {
  display: flex;
  padding-left: 0;
  margin-left: 0;
}

header nav ul {
  list-style: none;
  display: flex;
  padding-left: 0rem;
  justify-content: space-between;
}

header li {
  justify-content: space-between;
  padding: 0.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

header a {
  text-decoration: none;
  color: black;
}

.octodex {
  font-weight: bold;
  padding-right: 1rem;
}

.twitter {
  padding-top: 1.4rem;
  padding-left: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

main {
  /* display: flex;
  justify-content: space-around; */
  background-color: rgb(245, 246, 248);
  padding-top: 0.5px;
}

main article section {
  background-color: rgb(255, 255, 255);
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0rem;
  border: solid 1px rgb(219, 221, 227);
  border-radius: 10px;
}

main article summary {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  margin-top: 0;
}

main article summary p {
  padding-top: 0.5rem;
  margin-top: 0;
  font-weight: lighter;
}

.logo {
  height: 5%;
  width: 5%;
}

main img {
  width: 97%;
}

.not-first {
  margin-top: 1rem;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #586069;
  font-weight: 100;
  font-size: 14px;
  background-color: rgb(248, 250, 251);
  margin-bottom: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 2.5rem;
  padding-top: 2em;
  padding-left: 0;
  border-top: solid 0.5px rgb(219, 221, 227);
}

footer div {
  background-color: rgb(248, 250, 251);
}
